/* MOBILE */

@media (max-width: 740px) {
    .s-col-full {
        width: 100%;
    }
    #header {
        overflow: hidden;
    }
    #header .menu-mobile {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: white;
        padding: 5px 40px;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #nav li a {
        padding: 1px 24px;
        display: block;
    }
    #content .img1 {
        width: 60%;
    }
}