* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {}

.headerimg {
    display: flex;
    justify-content: center;
    position: relative;
}

.nav {
    position: absolute;
    color: white;
    padding: 12px 24px;
    border: 1px solid #ccc;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 4px;
    line-height: 1.5;
}

.nav h2 {
    font-size: 48px;
    margin: 10px 0;
    font-weight: 400;
}

.nav h3 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 300;
}

.subnav {
    height: 38px;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -16px;
    background-color: #f1f1f1;
    width: auto;
    border-radius: 4px;
}

.subnav li a {
    padding: 8px 16px;
    color: black;
}

.subnav li:hover {
    background-color: #ccc;
    line-height: 38px;
}

#content {
    width: 980px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#content img {
    margin-top: 16px;
}

#Contact {
    max-width: 930px;
    padding: 32px 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
}

.header-contact {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-contact h3 {
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.header-contact p {
    line-height: 1.5;
    text-align: justify;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

.input-form {
    padding: 8px;
    border: 1px solid #ccc
}

.send-btn {
    border: none;
    background-color: #616161;
    color: white;
    padding: 8px;
    margin-bottom: 45px;
}

.send-btn:hover {
    background-color: #ccc;
    color: black;
}

p a {
    color: black;
}